.container {
  height: 100vh;
  width: 100vw;
  background-color: #dcf8f5;
  display: flex;
  justify-content: center;
}

.sidebar{
  width: 20%;
  border: 2px solid #f0eeee;
  background-color: #ffffff;
}

