.upcoming-events {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.header h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #2c5e89;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.header button {
  background-color: #2c5e89;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 12px;
  height: fit-content;
}

.header button:hover{
  background-color: #689fcf;
  color: #ffffff;
  scale: 1.1;
  transition: all 0.2s ease;
}

.event {
  background-color: #fff;
  padding: 10px;
  margin: 10px 10px 0 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  position: relative; 
}

.event::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px; 
  height: 100%;
  background-color: #2c5e89; 
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.event-title {
  font-size: 14px;
  font-weight: bold;
  color: #2c5e89;
  margin: 0;
}

.event-time {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
}

.event-link {
  font-size: 12px;
  color: #220ddb;
  text-decoration: underline;
}

.event-details {
  display: flex;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px; */
}

.event-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe4c8;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}

.event-header button:hover {
  background-color: #2c5e89;
}

.event-header,
.event-time,
.event-account{
  margin-left: 10px;
}

.event-button img {
  width: 35px;
  height: auto;
  padding: 7px;
}

.event-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.event-account{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sub-title {
  margin: 0 0 5px 0;
  padding: 0 12px;
  font-weight: 500;
  color: #838282;
}
